{# Macros #}
{% import "../../templates/macros/macros.html" as button %}

{# Variables #}
{% set slides = module.slides %}
{% set filter = module.display_filter %}
{% set spacing = module.styles.layout.spacing.css %}

{# Styles #}
{% require_css %}
    <style>
    {% scope_css %}
        #testimonial-slider-{{name}} {
            --container-size: 1247px;
        }
        .slide-center {
            transform: translateX(calc(max(var(--container-size), 100vw) / 2 - calc(var(--container-size) / 2)))
        }
        
    {% end_scope_css %}
    </style>
{% end_require_css%}

{# Section Markup #}
<section id="testimonial-slider-{{name}}" class="relative">
    {% if filter %}
        <div class="container px-0 lg:px-4">
            <div class="categories flex gap-2 mt-4 mb-3 md:mb-6">
                <span data-category="all" class="h-[40px] cursor-pointer active rounded-[980px] border-[1px] px-4 py-2 font-semibold text-neutral-white border-neutral-white hover:text-primary-50 hover:bg-neutral-white hover:border-neutral-white transition-all">All</span>
                {% for slide in slides %}
                    {% set category = slide.category[0] %}
                    {% set categoryFiltered = category|string|lower|replace('[', '')|replace(']', '') %}
                    <span data-category={{categoryFiltered}} class="inline-block cursor-pointer rounded-[980px] border-[1px] border-neutral-white px-4 py-2 font-semibold text-neutral-white mb-3 md:mb-0 bg-primary-50 hover:text-primary-50 hover:bg-neutral-white hover:border-neutral-white transition-all">{% if category == 'crm' or category == 'pos' or category == 'hq' or category == 'gxs'  %}{{category|upper|replace('_', ' ')}}{% else %}{{category|capitalize|replace('_', ' ') || 'Item'}}{% endif %}</span>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="h-[463px] overflow-hidden w-screen relative right-[50%] left-[50%] ml-[-50vw] mr-[-50vw]">
        <ul id="js-testimonial-slider-{{name}}" class="flex mt-0 list-none h-[540px] overflow-x-auto snap-x snap-mandatory">
        {% for item in slides %}
            {# Button Variables #}
            {% set btn_label = item.settings.button_text %}
            {% set href = item.settings.link.url.href %}
            {% set rel = [] %}
            {% set url_type = item.settings.link.url.type %}
            {% set no_follow = item.settings.link.no_follow %}
            {% set new_tab = item.settings.link.open_in_new_tab %}
            
            {% set logo = item.image %}

            {% set svg_icon = item.settings.svg %}
            {% set icon_position = item.settings.icon_position %}

            {% set bg_kind = item.settings.bg_kind %}

            {# Sets attributes used for the link field #}
            {% if url_type is equalto 'EMAIL_ADDRESS' %}
            {% set href = 'mailto:' + href %}
            {% endif %}
            {% if no_follow %}
            {% do rel.append('nofollow') %}
            {% endif %}
            {% if new_tab %}
            {% do rel.append('noopener') %}
            {% endif %}
            <li id="js-testimonial-item" class="snap-start snap-always shrink-0 mr-5 last:mr-0 h-[460px]" data-filter={{item.category|string|lower|replace('[', '')|replace(']', '')}}>
                <div class="slide-center relative flex h-[460px] flex-col bg-neutral-white w-[304px] rounded-2xl mo-card-md">
                    <div class="flex flex-col gap-4 h-full">
                        <div>
                            {% set sizeAttrs = 'width="80" height="44"' %}
                            {% set loadingAttr = logo.img.loading != 'disabled' ? 'loading="{{ logo.img.loading }}"' : '' %}
                            <img src="{{ logo.img.src }}" alt="{{ logo.img.alt }}" {{ loadingAttr }} {{ sizeAttrs }} class="object-fill h-[2.75rem] w-[5rem]">
                        </div>
                        <div class="leading-6 mb-xs text-primary-50 relative before:absolute before:w-[2px] before:h-[100%] before:bg-secondary-50 before:top-0 before:left-0 pl-3">
                            {{ item.content.text || '<p>“We’ve seen about a <b>25% increase in sales</b> from our online checkout since moving to ROLLER. The ROLLER platform is more professional, easier to use, and helps us to sell more party bookings and gift cards.”</p>' }}
                        </div>
                        <div class="button-wrapper pb-3 flex items-end grow">
                            <a class="{{ button.buttons_settings(bg_kind || 'ghost') }} font-serif" href="{{ href }}"
                            id="button_{{name}}"
                            {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
                            {% if rel %}rel="{{ rel|join(" ") }}"{% endif %}
                            >
                                {% if svg_icon %}
                                    <div class="flex justify-center items-center {{icon_position || 'order-1' }} {% if icon_position == 'right' %}order-1 mr-0 ml-2{% else %}mr-2{% endif %}">
                                    {{svg_icon}}
                                    </div>
                                {% endif %}
                                {# Button label #}
                                <span>{{ btn_label || "Read story" }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="flex justify-center absolute top-[50%] translate-y-[-50%] w-screen right-[50%] left-[50%] ml-[-50vw] mr-[-50vw]">
        <button
            id="js-button-previous"
            class="hidden disabled:text-gray-400 disabled:border-gray-400 disabled:opacity-0 transition-all opacity-60 bg-neutral-60 hover:bg-neutral-70 w-[3.5rem] h-[3.5rem] rounded-full md:flex items-center justify-center mr-2 absolute top-[50%] translate-y-[-50%] left-[18px]" aria-hidden="false"
        >
            <span class="sr-only">Previous slide</span>
            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#fff" d="m17.835 3.87-1.78-1.77-9.89 9.9 9.9 9.9 1.77-1.77L9.705 12l8.13-8.13Z"/></svg></span>
        </button>
        <button
            id="js-button-next"
            class="hidden md:block disabled:text-gray-400 disabled:border-gray-400 disabled:opacity-0 transition-all opacity-60 bg-neutral-60 hover:bg-neutral-70 w-[3.5rem] h-[3.5rem] rounded-full md:flex items-center justify-center absolute top-[50%] translate-y-[-50%] right-[18px]" aria-hidden="false"
        >
            <span class="sr-only">Next slide</span>
            <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><path fill="#fff" d="m6.165 20.13 1.77 1.77 9.9-9.9-9.9-9.9-1.77 1.77 8.13 8.13-8.13 8.13Z"/></svg></span>
        </button>
    </div>
</section>

{# Javascript for the Slider #}
{# TODO: The does not work when this module is added twice or more on the page.  #}
{% require_js position="footer" defer="true" %}
    <script>
    const slideWidth = 304;
    const slideMargin = 32;
    const categories = document.querySelectorAll('.categories span');
    const isCategoryFound = {};
    let activeCategory= null;

    // Get all the elements and loop through them
    categories.forEach((el) => {
        const dataFilter = el.dataset.category;

        if (isCategoryFound[dataFilter]) {
            el.remove();
        } else {
            isCategoryFound[dataFilter] = true;
        }
    });

    categories.forEach((category) => {

        category.addEventListener('click', function() {
            const filterCategory = category.dataset.category;
            const elementClass = this.getAttribute('class');

            // Reset the active class on all buttons
            categories.forEach(function(catItem) {
                catItem.classList.remove('active');
            });

            // Update the active state on the clicked button
            this.classList.add('active');
            activeCategory= this;

            if (filterCategory === 'all') {
                const swiperSlides = document.querySelectorAll('[data-filter]');
                swiperSlides.forEach(function(slide) {
                    slide.classList.remove('non-swiper-slide');
                    slide.classList.add('swiper-slide');
                    slide.style.display = '';
                });
            } else {
                const swiperSlides = document.querySelectorAll('[data-filter]');
                swiperSlides.forEach(function(slide) {
                    if (slide.getAttribute('data-filter') !== filterCategory) {
                        slide.classList.add('non-swiper-slide');
                        slide.classList.remove('swiper-slide');
                        slide.style.display = 'none';
                    } else {
                        slide.classList.remove('non-swiper-slide');
                        slide.classList.add('swiper-slide');
                        slide.style.display = '';
                    }
                });
            }
        });
    });

    function scrollToSlide(slider, slideIndex) {
        if (!slider) return;
        slider.scrollTo({
            left: slideIndex * (slideWidth + slideMargin),
            behavior: "smooth",
        });
    }

    function scrollSlider() {
        const sliderEl = document.querySelector("#js-testimonial-slider-{{name}}");
        let sliderPosition = 0;

        function updateSliderPosition(event) {
            sliderPosition = event.currentTarget.scrollLeft;
        }

        function getCurrentSlide() {
            return Math.floor(sliderPosition / (slideWidth + slideMargin));
        }

        function hasScrolledToEndOfSlider() {
            if (!sliderEl) return false;

            const scrolledToEnd = sliderEl.scrollWidth - Math.round(sliderEl.scrollLeft) - sliderEl.clientWidth === 0;

            const scrolledToEndMax = sliderEl.scrollWidth - Math.round(sliderEl.scrollLeft) - sliderEl.clientWidth === 1;

           const MIN_SLIDER_WIDTH = 1920;
            if (sliderEl.clientWidth >= MIN_SLIDER_WIDTH) {
                return scrolledToEndMax;
            } else {
                return scrolledToEnd;
            }
        }

        function goToNextSlide() {
            const currentSlide = getCurrentSlide();
            scrollToSlide(sliderEl, currentSlide + 1);
        }

        function goToPreviousSlide() {
            const currentSlide = getCurrentSlide();
            scrollToSlide(sliderEl, currentSlide - 1);
        }

        sliderEl.addEventListener("scroll", updateSliderPosition);

        const slides = document.querySelectorAll("#js-testimonial-item");

        const prevButton = document.querySelector("#js-button-previous");
        prevButton.addEventListener("click", goToPreviousSlide);

        const nextButton = document.querySelector("#js-button-next");
        nextButton.addEventListener("click", goToNextSlide);

        function updateButtonStates() {
        prevButton.disabled = getCurrentSlide() === 0;
        nextButton.disabled =
            hasScrolledToEndOfSlider() || getCurrentSlide() === slides.length;
        }

        // Call the function initially
        updateButtonStates();

        // Update button states whenever the slider is scrolled
        sliderEl.addEventListener("scroll", updateButtonStates);
    }

    scrollSlider();
    </script>
{% end_require_js %}