<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page
  screenshotPath: ../images/template-previews/landing-page.png
-->
{% extends "./layouts/base.html" %}

{% block header %}
  {% global_partial path="./partials/header-no-navigation.html" %}
{% endblock header %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--landing-page"
%}

  {# Hero banner #}

  {% include_dnd_partial
    path="../sections/hero-banner.html"
    context={
      "content": "<h1>Download your free eBook</h1><p>Use this space to tell everyone what your eBook is all about.</p>"
    }
  %}

  {# Three column image with text #}

  {% include_dnd_partial
    path="../sections/multi-column-content.html",
    context={
      "background_color": "#FFFFFF"
    }
  %}

  {# Industry Rating #}
  {% include_dnd_partial path="../sections/s-industry-rating.html" 
    context={
      "bg_color": "#fff",
      "padding_top_m": "1rem",
      "padding_bottom_d": "6rem",
      "padding_bottom_m": "4rem",
      "label": " 03"
    }
  %}

{% end_dnd_area %}
{% endblock body %}

{% block footer %}
{% endblock footer %}
