<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
{% set macros = true %}

{% macro getCountryList(regionCode) %}
  {% set countries = [
    {"country": "Afghanistan", "iso_3166": "af", "region": "apac"},
    {"country": "Åland Islands", "iso_3166": "ax", "region": "emea"},
    {"country": "Albania", "iso_3166": "al", "region": "emea"},
    {"country": "Algeria", "iso_3166": "dz", "region": "emea"},
    {"country": "Andorra", "iso_3166": "ad", "region": "emea"},
    {"country": "Angola", "iso_3166": "ao", "region": "emea"},
    {"country": "Antigua and Barbuda", "iso_3166": "ag", "region": "amer"},
    {"country": "Argentina", "iso_3166": "ar", "region": "amer"},
    {"country": "Armenia", "iso_3166": "am", "region": "emea"},
    {"country": "Australia", "iso_3166": "au", "region": "apac"},
    {"country": "Austria", "iso_3166": "at", "region": "emea"},
    {"country": "Azerbaijan", "iso_3166": "az", "region": "emea"},
    {"country": "Bahamas", "iso_3166": "bs", "region": "amer"},
    {"country": "Bahrain", "iso_3166": "bh", "region": "emea"},
    {"country": "Bangladesh", "iso_3166": "bd", "region": "apac"},
    {"country": "Barbados", "iso_3166": "bb", "region": "amer"},
    {"country": "Belarus", "iso_3166": "by", "region": "emea"},
    {"country": "Belgium", "iso_3166": "be", "region": "emea"},
    {"country": "Belize", "iso_3166": "bz", "region": "amer"},
    {"country": "Benin", "iso_3166": "bj", "region": "emea"},
    {"country": "Bhutan", "iso_3166": "bt", "region": "apac"},
    {"country": "Bolivia", "iso_3166": "bo", "region": "amer"},
    {"country": "Bosnia and Herzegovina", "iso_3166": "ba", "region": "emea"},
    {"country": "Botswana", "iso_3166": "bw", "region": "emea"},
    {"country": "Brazil", "iso_3166": "br", "region": "amer"},
    {"country": "Brunei Darussalam", "iso_3166": "bn", "region": "apac"},
    {"country": "Bulgaria", "iso_3166": "bg", "region": "emea"},
    {"country": "Burkina Faso", "iso_3166": "bf", "region": "emea"},
    {"country": "Burundi", "iso_3166": "bi", "region": "emea"},
    {"country": "Cabo Verde", "iso_3166": "cv", "region": "emea"},
    {"country": "Cambodia", "iso_3166": "kh", "region": "apac"},
    {"country": "Cameroon", "iso_3166": "cm", "region": "emea"},
    {"country": "Canada", "iso_3166": "ca", "region": "amer"},
    {"country": "Central African Republic", "iso_3166": "cf", "region": "emea"},
    {"country": "Chad", "iso_3166": "td", "region": "emea"},
    {"country": "Chile", "iso_3166": "cl", "region": "amer"},
    {"country": "China", "iso_3166": "cn", "region": "apac"},
    {"country": "Colombia", "iso_3166": "co", "region": "amer"},
    {"country": "Comoros", "iso_3166": "km", "region": "emea"},
    {"country": "Congo", "iso_3166": "cg", "region": "emea"},
    {"country": "Congo, Democratic Republic of the", "iso_3166": "cd", "region": "emea"},
    {"country": "Costa Rica", "iso_3166": "cr", "region": "amer"},
    {"country": "Croatia", "iso_3166": "hr", "region": "emea"},
    {"country": "Cuba", "iso_3166": "cu", "region": "amer"},
    {"country": "Cyprus", "iso_3166": "cy", "region": "emea"},
    {"country": "Czech Republic", "iso_3166": "cz", "region": "emea"},
    {"country": "Denmark", "iso_3166": "dk", "region": "emea"},
    {"country": "Djibouti", "iso_3166": "dj", "region": "emea"},
    {"country": "Dominica", "iso_3166": "dm", "region": "amer"},
    {"country": "Dominican Republic", "iso_3166": "do", "region": "amer"},
    {"country": "Ecuador", "iso_3166": "ec", "region": "amer"},
    {"country": "Egypt", "iso_3166": "eg", "region": "emea"},
    {"country": "El Salvador", "iso_3166": "sv", "region": "amer"},
    {"country": "Equatorial Guinea", "iso_3166": "gq", "region": "emea"},
    {"country": "Eritrea", "iso_3166": "er", "region": "emea"},
    {"country": "Estonia", "iso_3166": "ee", "region": "emea"},
    {"country": "Eswatini", "iso_3166": "sz", "region": "emea"},
    {"country": "Ethiopia", "iso_3166": "et", "region": "emea"},
    {"country": "Fiji", "iso_3166": "fj", "region": "apac"},
    {"country": "Finland", "iso_3166": "fi", "region": "emea"},
    {"country": "France", "iso_3166": "fr", "region": "emea"},
    {"country": "Gabon", "iso_3166": "ga", "region": "emea"},
    {"country": "Gambia", "iso_3166": "gm", "region": "emea"},
    {"country": "Georgia", "iso_3166": "ge", "region": "emea"},
    {"country": "Germany", "iso_3166": "de", "region": "emea"},
    {"country": "Ghana", "iso_3166": "gh", "region": "emea"},
    {"country": "Greece", "iso_3166": "gr", "region": "emea"},
    {"country": "Grenada", "iso_3166": "gd", "region": "amer"},
    {"country": "Guatemala", "iso_3166": "gt", "region": "amer"},
    {"country": "Guinea", "iso_3166": "gn", "region": "emea"},
    {"country": "Guinea-Bissau", "iso_3166": "gw", "region": "emea"},
    {"country": "Guyana", "iso_3166": "gy", "region": "amer"},
    {"country": "Haiti", "iso_3166": "ht", "region": "amer"},
    {"country": "Honduras", "iso_3166": "hn", "region": "amer"},
    {"country": "Hungary", "iso_3166": "hu", "region": "emea"},
    {"country": "Iceland", "iso_3166": "is", "region": "emea"},
    {"country": "India", "iso_3166": "in", "region": "apac"},
    {"country": "Indonesia", "iso_3166": "id", "region": "apac"},
    {"country": "Iran", "iso_3166": "ir", "region": "emea"},
    {"country": "Iraq", "iso_3166": "iq", "region": "emea"},
    {"country": "Ireland", "iso_3166": "ie", "region": "emea"},
    {"country": "Israel", "iso_3166": "il", "region": "emea"},
    {"country": "Italy", "iso_3166": "it", "region": "emea"},
    {"country": "Jamaica", "iso_3166": "jm", "region": "amer"},
    {"country": "Japan", "iso_3166": "jp", "region": "apac"},
    {"country": "Jordan", "iso_3166": "jo", "region": "emea"},
    {"country": "Kazakhstan", "iso_3166": "kz", "region": "emea"},
    {"country": "Kenya", "iso_3166": "ke", "region": "emea"},
    {"country": "Kiribati", "iso_3166": "ki", "region": "apac"},
    {"country": "Korea, North", "iso_3166": "kp", "region": "apac"},
    {"country": "Korea, South", "iso_3166": "kr", "region": "apac"},
    {"country": "Kuwait", "iso_3166": "kw", "region": "emea"},
    {"country": "Kyrgyzstan", "iso_3166": "kg", "region": "emea"},
    {"country": "Laos", "iso_3166": "la", "region": "apac"},
    {"country": "Latvia", "iso_3166": "lv", "region": "emea"},
    {"country": "Lebanon", "iso_3166": "lb", "region": "emea"},
    {"country": "Lesotho", "iso_3166": "ls", "region": "emea"},
    {"country": "Liberia", "iso_3166": "lr", "region": "emea"},
    {"country": "Libya", "iso_3166": "ly", "region": "emea"},
    {"country": "Liechtenstein", "iso_3166": "li", "region": "emea"},
    {"country": "Lithuania", "iso_3166": "lt", "region": "emea"},
    {"country": "Luxembourg", "iso_3166": "lu", "region": "emea"},
    {"country": "Madagascar", "iso_3166": "mg", "region": "emea"},
    {"country": "Malawi", "iso_3166": "mw", "region": "emea"},
    {"country": "Malaysia", "iso_3166": "my", "region": "apac"},
    {"country": "Maldives", "iso_3166": "mv", "region": "apac"},
    {"country": "Mali", "iso_3166": "ml", "region": "emea"},
    {"country": "Malta", "iso_3166": "mt", "region": "emea"},
    {"country": "Marshall Islands", "iso_3166": "mh", "region": "apac"},
    {"country": "Mauritania", "iso_3166": "mr", "region": "emea"},
    {"country": "Mauritius", "iso_3166": "mu", "region": "emea"},
    {"country": "Mexico", "iso_3166": "mx", "region": "amer"},
    {"country": "Micronesia", "iso_3166": "fm", "region": "apac"},
    {"country": "Moldova", "iso_3166": "md", "region": "emea"},
    {"country": "Monaco", "iso_3166": "mc", "region": "emea"},
    {"country": "Mongolia", "iso_3166": "mn", "region": "apac"},
    {"country": "Montenegro", "iso_3166": "me", "region": "emea"},
    {"country": "Morocco", "iso_3166": "ma", "region": "emea"},
    {"country": "Mozambique", "iso_3166": "mz", "region": "emea"},
    {"country": "Myanmar", "iso_3166": "mm", "region": "apac"},
    {"country": "Namibia", "iso_3166": "na", "region": "emea"},
    {"country": "Nauru", "iso_3166": "nr", "region": "apac"},
    {"country": "Nepal", "iso_3166": "np", "region": "apac"},
    {"country": "Netherlands", "iso_3166": "nl", "region": "emea"},
    {"country": "New Zealand", "iso_3166": "nz", "region": "apac"},
    {"country": "Nicaragua", "iso_3166": "ni", "region": "amer"},
    {"country": "Niger", "iso_3166": "ne", "region": "emea"},
    {"country": "Nigeria", "iso_3166": "ng", "region": "emea"},
    {"country": "North Macedonia", "iso_3166": "mk", "region": "emea"},
    {"country": "Norway", "iso_3166": "no", "region": "emea"},
    {"country": "Oman", "iso_3166": "om", "region": "emea"},
    {"country": "Pakistan", "iso_3166": "pk", "region": "emea"},
    {"country": "Palau", "iso_3166": "pw", "region": "apac"},
    {"country": "Palestine", "iso_3166": "ps", "region": "emea"},
    {"country": "Panama", "iso_3166": "pa", "region": "amer"},
    {"country": "Papua New Guinea", "iso_3166": "pg", "region": "apac"},
    {"country": "Paraguay", "iso_3166": "py", "region": "amer"},
    {"country": "Peru", "iso_3166": "pe", "region": "amer"},
    {"country": "Philippines", "iso_3166": "ph", "region": "apac"},
    {"country": "Poland", "iso_3166": "pl", "region": "emea"},
    {"country": "Portugal", "iso_3166": "pt", "region": "emea"},
    {"country": "Qatar", "iso_3166": "qa", "region": "emea"},
    {"country": "Romania", "iso_3166": "ro", "region": "emea"},
    {"country": "Russia", "iso_3166": "ru", "region": "emea"},
    {"country": "Rwanda", "iso_3166": "rw", "region": "emea"},
    {"country": "Saint Kitts and Nevis", "iso_3166": "kn", "region": "amer"},
    {"country": "Saint Lucia", "iso_3166": "lc", "region": "amer"},
    {"country": "Saint Vincent and the Grenadines", "iso_3166": "vc", "region": "amer"},
    {"country": "Samoa", "iso_3166": "ws", "region": "apac"},
    {"country": "San Marino", "iso_3166": "sm", "region": "emea"},
    {"country": "Sao Tome and Principe", "iso_3166": "st", "region": "emea"},
    {"country": "Saudi Arabia", "iso_3166": "sa", "region": "emea"},
    {"country": "Senegal", "iso_3166": "sn", "region": "emea"},
    {"country": "Serbia", "iso_3166": "rs", "region": "emea"},
    {"country": "Seychelles", "iso_3166": "sc", "region": "emea"},
    {"country": "Sierra Leone", "iso_3166": "sl", "region": "emea"},
    {"country": "Singapore", "iso_3166": "sg", "region": "apac"},
    {"country": "Slovakia", "iso_3166": "sk", "region": "emea"},
    {"country": "Slovenia", "iso_3166": "si", "region": "emea"},
    {"country": "Solomon Islands", "iso_3166": "sb", "region": "apac"},
    {"country": "Somalia", "iso_3166": "so", "region": "emea"},
    {"country": "South Africa", "iso_3166": "za", "region": "emea"},
    {"country": "South Sudan", "iso_3166": "ss", "region": "emea"},
    {"country": "Spain", "iso_3166": "es", "region": "emea"},
    {"country": "Sri Lanka", "iso_3166": "lk", "region": "apac"},
    {"country": "Sudan", "iso_3166": "sd", "region": "emea"},
    {"country": "Suriname", "iso_3166": "sr", "region": "amer"},
    {"country": "Sweden", "iso_3166": "se", "region": "emea"},
    {"country": "Switzerland", "iso_3166": "ch", "region": "emea"},
    {"country": "Syria", "iso_3166": "sy", "region": "emea"},
    {"country": "Taiwan", "iso_3166": "tw", "region": "apac"},
    {"country": "Tajikistan", "iso_3166": "tj", "region": "emea"},
    {"country": "Tanzania", "iso_3166": "tz", "region": "emea"},
    {"country": "Thailand", "iso_3166": "th", "region": "apac"},
    {"country": "Timor-Leste", "iso_3166": "tl", "region": "apac"},
    {"country": "Togo", "iso_3166": "tg", "region": "emea"},
    {"country": "Tonga", "iso_3166": "to", "region": "apac"},
    {"country": "Trinidad and Tobago", "iso_3166": "tt", "region": "amer"},
    {"country": "Tunisia", "iso_3166": "tn", "region": "emea"},
    {"country": "Turkey", "iso_3166": "tr", "region": "emea"},
    {"country": "Turkmenistan", "iso_3166": "tm", "region": "emea"},
    {"country": "Tuvalu", "iso_3166": "tv", "region": "apac"},
    {"country": "Uganda", "iso_3166": "ug", "region": "emea"},
    {"country": "Ukraine", "iso_3166": "ua", "region": "emea"},
    {"country": "United Arab Emirates", "iso_3166": "ae", "region": "emea"},
    {"country": "United Kingdom", "iso_3166": "gb", "region": "emea"},
    {"country": "United States", "iso_3166": "us", "region": "amer"},
    {"country": "Uruguay", "iso_3166": "uy", "region": "amer"},
    {"country": "Uzbekistan", "iso_3166": "uz", "region": "emea"},
    {"country": "Vanuatu", "iso_3166": "vu", "region": "apac"},
    {"country": "Vatican City", "iso_3166": "va", "region": "emea"},
    {"country": "Venezuela", "iso_3166": "ve", "region": "amer"},
    {"country": "Vietnam", "iso_3166": "vn", "region": "apac"},
    {"country": "Yemen", "iso_3166": "ye", "region": "emea"},
    {"country": "Zambia", "iso_3166": "zm", "region": "emea"},
    {"country": "Zimbabwe", "iso_3166": "zw", "region": "emea"}
] %}

  {% set userCountry = request.geoip_country | lower %}
  {% set regionCode = '' %}
  
  {% for country in countries %}
    {% if country.iso_3166 == userCountry %}
      {% set regionCode = country.region | "apac" %}
    {% endif %}
  {% endfor %}

  {% set countryList = [] %}
  {% for country in countries %}
    {% if country.region == regionCode %}
      {% set _ = countryList.append(country) %}
    {% endif %}
  {% endfor %}

  {% set jsonString = countryList | tojson %}
  {{ jsonString | replace('\n', '') | replace('\r', '') | safe }}
{% endmacro %}


{# Macro: btn_classes #}

{# 
This is a Jinja2 macro named `btn_classes` that generates CSS classes for a button based on a specified background kind (`bg_kind`). The macro takes a single argument `bg_kind` and returns a string of CSS classes.

The macro defines a base set of classes (`baseClasses`) that are common to all buttons, and then conditionally appends additional classes based on the value of `bg_kind`. The supported values for `bg_kind` are:

* `primary`
* `secondary`
* `tertiary`
* `ghost`
* `primary-inverted`
* `gx_score`
* `iris`

If an unsupported value is passed, the macro returns only the base classes.

The generated CSS classes are used to style the button's appearance, including its background color, text color, padding, and border.
#}

{% macro btn_classes(bg_kind) %}{% set baseClasses = "relative inline-flex items-center cursor-pointer select-none appearance-none no-underline tracking-tight leading-6 font-semibold text-md transition ease-in-out duration-300 w-full sm:w-max justify-center" %}
  {% if bg_kind == 'primary' %}
  {% set buttonClasses = baseClasses ~ " bg-secondary-50 hover:bg-secondary-70 rounded-3xl py-2 px-4 text-neutral-white" %}
  {% elif bg_kind == 'secondary' %}
  {% set buttonClasses = baseClasses ~ " bg-primary-50 hover:bg-primary-70 rounded-3xl py-2 px-4 text-neutral-white" %}
  {% elif bg_kind == 'tertiary' %}
  {% set buttonClasses = baseClasses ~ " bg-neutral-white hover:bg-neutral-20 rounded-3xl py-2 px-4 text-primary-50 border-[1px]" %}
  {% elif bg_kind == 'ghost' %}
  {% set buttonClasses = baseClasses ~ " bg-transparent text-primary-50 py-2" %}
  {% elif bg_kind == 'primary-inverted' %}
  {% set buttonClasses = baseClasses ~ " bg-neutral-white hover:bg-neutral-20 rounded-3xl py-2 px-4 text-secondary-50" %}
  {% elif bg_kind == 'gx_score' %}
  {% set buttonClasses = baseClasses ~ " bg-gx-90 hover:bg-primary-70 rounded-3xl py-2 px-4 text-neutral-white" %}
  {% elif bg_kind == 'iris' %}
  {% set buttonClasses = baseClasses ~ " bg-iris-50 hover:bg-iris-60 rounded-3xl py-2 px-4 text-neutral-white" %}
  {% else %}
  {% set buttonClasses = baseClasses %}
  {% endif %}{{ buttonClasses }}
{% endmacro %}