
<div class="module--video-reel spacing-{{ module.styles.vertical_spacing }}{% if module.styles.text_colour == 'light' %} text-light{% endif %}">
  
  <div class="videos">
    {% for item in module.videos %}
    <div class="video-card">
      <div class="wistia_embed wistia_async_{{ item.video_id }} popover=true popoverContent=html" id="wistia-{{ item.video_id }}-1" style="">
        <div id="wistia_13.thumb_container" style="position: relative;">
          {% if item.thumbnail_image.src %}
          <div class="thumbnail-wrapper">
            <img class="thumbnail" src="{{ item.thumbnail_image.src }}" alt="{{ item.thumbnail_image.alt }}" width="{{ item.thumbnail_image.width }}" height="{{ item.thumbnail_image.height }}">
<!--             <span class="thumbnail-play material-icons">play_circle_filled</span> -->
                <span id="fw30aqal7w" class="icon-wrapper" stylr="position: absolute;align-items: center;height: 120px;border-radius: 100%;content: var(--tw-content);--tw-backdrop-blur: blur(4px);width: 120px;backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));background-color: rgb(255 255 255 / 0.4);" onclick="return false;">
                    <svg class="relative ms-[0.5rem] play-icon" width="44" height="55" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M42.911 27.933c-.247.584-.963 1.044-2.396 1.963L5.212 52.54c-1.643 1.054-2.465 1.58-3.144 1.532a2.044 2.044 0 0 1-1.49-.818c-.409-.546-.409-1.522-.409-3.476V4.49c0-1.954 0-2.93.409-3.476a2.05 2.05 0 0 1 1.49-.817c.68-.05 1.5.477 3.144 1.53l35.303 22.644c1.433.919 2.15 1.379 2.396 1.963a2.053 2.053 0 0 1 0 1.6v-.002Z" fill="#0960F6"></path></svg>
<!--                     <svg class="relative ms-[0.5rem]" width="37" height="46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36.093 23.777c-.206.487-.803.87-1.997 1.636l-29.42 18.87c-1.369.877-2.053 1.316-2.62 1.276a1.704 1.704 0 0 1-1.241-.681c-.34-.455-.34-1.269-.34-2.897V4.243c0-1.629 0-2.442.34-2.897A1.71 1.71 0 0 1 2.057.665c.566-.042 1.25.398 2.62 1.276L34.095 20.81c1.194.766 1.791 1.149 1.997 1.636.18.426.18.906 0 1.332Z" fill="#0960F6"></path></svg> -->
                </span>
          </div>
          {% endif %}
          <small>{{ item.sub_heading }}</small>
          <h4 class="text-bold">{{ item.heading }}</h4>
          <p class="text-small">
            {{ item.description }}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
   </div>
</div>