.module--video-reel .videos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-gap: 24px;
    margin-bottom: 40px;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
  .module--video-reel .videos {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (max-width: 768px) {
  .module--video-reel .videos {
    grid-template-columns: 1fr !important;
    text-align: center;
    margin-bottom: 0px;
  }
}

.module--video-reel .video-card {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--white);
  cursor: pointer;
}
.module--video-reel .video-card:hover .thumbnail-wrapper .thumbnail-play {
    opacity: 1;
}
.module--video-reel .video-card a {
  text-decoration: none;
}
.module--video-reel .video-card:hover {
    box-shadow: 0 18px 30px 0 rgba(0,0,0,0.18);
}
.module--video-reel .video-card .thumbnail-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    position: relative
}
.module--video-reel .video-card .thumbnail-wrapper .thumbnail {
     width: 100%;
     height: auto;
}
.module--video-reel .video-card .thumbnail-wrapper .thumbnail-play {
    font-size: 48px;
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: var(--white);
    opacity: 0.6
}
.module--video-reel .video-card .icon-wrapper{

position: absolute;
    align-items: center;
    height: 90px;
    border-radius: 100%;
    content: var(--tw-content);
    --tw-backdrop-blur: blur(4px);
    width: 90px;
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    background-color: rgb(255 255 255 / 0.4);
}
.module--video-reel .video-card .icon-wrapper .play-icon{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    display: block;
    vertical-align: middle;
}