<!--
  templateType: "none"
  isAvailableForNewContent: false
-->
<div class="blog-post__section" style="overflow: hidden">
    <div class="blog-post__subscribe">
        <div class="blog-post__subscribe-inner">
        <div class="blog-post__subscribe-content text-light">
            <h2>Enhance your guest experience</h2>
            <p>
            Get free education, tips and inspiration to help you run a
            successful venue.
            </p>
            <div class="form--primary">
            {% form "my_form" form_to_use="efa7bd0a-929a-4ea4-8480-1c6f77843cf2", title="" %}
            </div>
        </div>
        <div class="blog-post__subscribe-illustration">
            <img
            src="https://22392890.fs1.hubspotusercontent-na1.net/hubfs/22392890/website-theme-assets/blog_subscribe_illustration.svg" alt="ROLLS - Subscribe Blog Notifications" width="450" height="450"
            />
        </div>
        </div>
    </div>
</div> 