.image-carousel{border-radius: 40px;}
/* .animate-loop-scroll {
    animation: loop-scroll 10s linear infinite;
} */
.image-carousel--wrapper__inner{
  padding-bottom: 32px;
}
@media screen and (min-width: 768px ){
  .image-carousel--wrapper__inner{
  padding-bottom: 48px;
}
}